@charset "UTF-8";
/**
 * compass start
*/
/**
 * compass end
*/
/*
   color
*/
/*

*/
/**
  滚动条
  */
/**
  创建圆
  */
/**
  fix 花屏
*/
/* line 4, ../scss/index.scss */
.demo {
  padding: 0.625rem;
  font-size: 0.9375rem;
  border: 1px solid #ddd;
}
