// bower:scss
// endbower
/*
   color
*/

$theme-color-blue:#359df5;

$theme-color-border:#dddddd;

$theme-color-dialog-border:#ceccd2;

$theme-color-font:#333333;

$theme-color-disable:#cccccc;

$theme-color-number:#e93a3a;
